# Environment Variables

Copy these values to `.env` and fill with your credentials.

```
DATABASE_URL="mongodb+srv://<db_user>:<password>@cluster0.example.mongodb.net/jobtrackr?retryWrites=true&w=majority&appName=Cluster0"
NEXTAUTH_SECRET="replace-with-random-secret"
NEXTAUTH_URL="http://localhost:3000"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
NEXT_PUBLIC_FIREBASE_API_KEY=""
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=""
NEXT_PUBLIC_FIREBASE_PROJECT_ID=""
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=""
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=""
NEXT_PUBLIC_FIREBASE_APP_ID=""
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=""
GMAIL_USER=""
GMAIL_APP_PASSWORD=""
BLOB_READ_WRITE_TOKEN=""
```
